.flex-container {
    box-shadow: 0 0 2px black;
    width: 480px;
    height: 480px;
    margin: 50px auto;
    text-align: center;
}

.ticket-type {
    margin: 10px auto;
}

.ticket-type-btn {
    box-shadow: 0 0 1px black;
}

.ticket-option {
    font-size: 25px;
    text-shadow: 0 0 1px orange;
}

.tvm {
    font-size: 35px;
    color: orangered;
    text-shadow: 0 1px 2px black;
}

.coins-list {
    margin-top: 120px;
}

.coin-input {
    width: 57px;
}

.ticket-logo {
    margin: auto 0;
}

#logo {
    width: 150px
}

.argument {
    color: orange;
    text-shadow: 0 1px 3px black;
}

#cancel {
    text-align: right;
}

.info-option {
    margin:10px 0;
    font-size: 20px;
    text-shadow: 0 0 2px orange;
}

.data-info {
    text-shadow: 0 0 2px orange;
}

#lspd-logo {
    width: 400px;
}

.warn {
    line-height: 130px;
}
